.container {
  height: 100vh;
  display: flex;
}

.list-con {
  height: 100vh;
  flex: 1;
  display: flex;
  overflow: auto;
  padding: 24px;
  align-items: start;
}

.content {
  height: 150px;
  overflow-wrap: break-word;
  overflow: hidden;
}

.empty {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
