.container {
  height: 100vh;
  display: flex;
}

.list-con {
  height: 100vh;
  flex: 1;
  display: flex;
  overflow: auto;
  padding: 24px;
  align-items: start;
  background-color: rgb(240, 242, 245);
}

.content {
  height: 150px;
  overflow-wrap: break-word;
  overflow: hidden;
}
